
.carousel {
    background-color: #102a54;
    min-height: 300px;
    min-width: 500px;
    width: 100vw;
    height: 60vh;
}
.carousel-item {
    width: 100%; /* Set a fixed width */
    height: 100%; /* Set a fixed height */
  }

  .slider_container{
    overflow: hidden;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
  }
  .slider_container img { 
    clip-path: circle();
    width: 900px;
    min-width: 900px;
    height: 700px;
    margin: 0 0 0 700px;

  }
  .slider_container h1 {
    margin: auto;
  }